  
<div class="article_form">
  
<h1>Edit Article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>

<% if @article.errors.any? %>
    <div id="error">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :Text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
  Temporary user id
    <%= form.label :User %><br>
    <%= form.text_field :user %>
  </p>
 
  <p>
    <%= form.label :Topic %><br>
    <%= form.select :topic, ['AI', 'V.R', 'RMIT', 'Machine Learning']%>
  </p>

   <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', articles_path %>
</div>