<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header col-md-2 col-sm-2">
        <h1 class="beta">News+</h1>
      </div>
      <nav class="navbar-collapse col-md-7 col-sm-7">
        <ul class="nav navbar-nav navbar-centered">
          <li><%= link_to "Home", articles_path, class:"nav-list" %></li>
            <li class="dropdown">
              <a href="#" class=" nav-list dropdown-toggle" data-toggle="dropdown"> News <b class="caret"></b></a>
              <!-- <ul class="dropdown-menu" role="menu"> -->
                <% if current_user %>
                  <li class="login-user"><%= current_user.username%></li>
                <% end %>
              <!-- </ul> -->

        </ul>
      </nav>
      <div class="user-icon col-md-3 col-sm-3">
      <div class="dropdown">
          <img class="dropbtn" src="https://cdn3.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumb900.jpg"
            alt="Flowers in Chania" href="">
          <div class="dropdown-content">
          <% if current_user %>
            <li><%= link_to "Sign out", logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>